body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("../public/bg-img.png");
  background-size: 200px;
  background-repeat: repeat;
  background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}
